
*{
	margin: 0;
	padding:0;
	border: 0;
}
.login{
	position:absolute;
	left:35%;
	color:#FFFFFF;
	font-size:40px;
	padding-top:1%;
}
.main{
	position:absolute;
	left:29%;
	color:#FFFFFF;
	font-size:40px;
	padding-top:8%;
}
input[type=button]{
	font-size: 16px;
	background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
	border: 1px solid #e5a900;
	color: #4E4D4B;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	padding: 10px 0;
	outline:none;
	width:20%;
	position:absolute;
	left:40%;
	top:120%;
}
input[type=button]:hover{
	background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}

.parallaxsakums{
	background: url("./bildes/foni/fonsfons.jpg")fixed 100%;
	height:100%;
	
}
.parallax-innersakums{
	padding-top:18%;
	padding-bottom:18%;
}
.parallaxvidus{
	background: url("./bildes/foni/fonsfons3.jpg")fixed 100%;
	height:100%;
	
}
.parallax-innervidus{
	padding-top:18%;
	padding-bottom:18%;
}
h1{
	text-align: center;
	font-size: 1000%;
	color:#FFFFFF;
	text-transform: uppercase;
	text-spacing: 1%;
	margin: 25% 0;
	margin-top:7%;
	
}